<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8" />
	<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
</head>

<body>
<header th:replace="layout/layout :: header"></header>

	<form th:action="@{/outstanding/save}" th:object="${out}" method="post">
		<input type="hidden" class="form-control" th:field="*{idOutstanding}" />
		<div class="form-group row">
			<label class="col-sm-2 col-form-label">Cantidad Restante</label>
			<div class="col-sm-6">
				<input type="text" th:field="*{cantidadRestante}" class="form-control" pattern="^\d*(\.\d{1,2})?$"
					title="Solo se permiten números con hasta 2 decimales" required />
			</div>
		</div>
		<div class="form-group row">
			<label class="col-sm-2 col-form-label">Fecha Creacion</label>
			<div class="col-sm-6">
				<input type="date" th:field="*{fechaCreacion}" class="form-control" required />
			</div>
		</div>

		<div class="form-group row">
			<label class="col-sm-2 col-form-label">Fecha Efectiva</label>
			<div class="col-sm-6">
				<input type="date" th:field="*{fechaEfectiva}" class="form-control" required />
			</div>
		</div>

		<div class="form-group row">
			<label class="col-sm-2 col-form-label">Fecha finalizacion</label>
			<div class="col-sm-6">
				<input type="date" th:field="*{fechaFinalizacion}" class="form-control" required />
			</div>
		</div>
		<div class="form-group row">
			<label class="col-sm-2 col-form-label">Pago Principal</label>
			<div class="col-sm-6">
				<input type="text" th:field="*{pagoPrincipal}" class="form-control" pattern="^\d*(\.\d{1,2})?$"
					title="Solo se permiten números con hasta 2 decimales" required />
			</div>
		</div>
		<div class="form-group row">
			<label class="col-sm-2 col-form-label">Pago Intereses</label>
			<div class="col-sm-6">
				<input type="text" th:field="*{pagoIntereses}" class="form-control" pattern="^\d*(\.\d{1,2})?$"
					title="Solo se permiten números con hasta 2 decimales" required />
			</div>
		</div>
		<div class="form-group row">
			<label class="col-sm-2 col-form-label">Tipo Interes</label>
			<div class="col-sm-6">
				<select class="form-control" th:field="*{tipoInteres}" required>
					<option th:each="tipoInteres: ${tipoIntereses}" th:value="${tipoInteres.idTipoInteres}"
						th:text="${tipoInteres.nombre}">
					</option>
				</select>
			</div>
		</div>
		<div class="form-group row">
			<label class="col-sm-2 col-form-label">Tipo Cobros</label>
			<div class="col-sm-6">
				<select class="form-control" th:field="*{tipoCobros}" required>
					<option value="MANUAL">Manual</option>
					<option value="AUTOMATICO">Automatico</option>
				</select>
			</div>
		</div>
		<div class="form-group row">
			<label class="col-sm-2 col-form-label">Periodicidad</label>
			<div class="col-sm-6">
				<select class="form-control" th:field="*{periodicidad}" required>
					<option value="SEMANAL">Semanal</option>
					<option value="MENSUAL">Mensual</option>
					<option value="TRIMESTRAL">Trimestral</option>
				</select>
			</div>
		</div>
		<div class="form-group row">
			<label class="col-sm-2 col-form-label">Cantidad Cobro Periodico</label>
			<div class="col-sm-6">
				<input type="text" th:field="*{cantidadCobroPeriodico}" class="form-control" pattern="^\d*(\.\d{1,2})?$"
					title="Solo se permiten números con hasta 2 decimales" required />
			</div>
		</div>
		<div class="form-group row">
			<label class="col-sm-2 col-form-label">Facility</label>
			<div class="col-sm-6">
				<select class="form-control" th:field="*{facility}" required>
					<option th:each="facility: ${facilities}" th:value="${facility.idFacility}"
						th:text="${facility.idFacility}">
					</option>
				</select>
			</div>
		</div>

		<div class="form-group row">
			<div class="col-sm-6">
				<input type="submit" th:value="${buttonText}" class="btn btn-secondary" />
			</div>
		</div>

	</form>
	<a href="/outstanding"><button>Volver</button></a>
</body>

</html>