<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />
    <title>Cliente</title>
</head>
<body>
    <h1>Crear cliente</h1>

    <form th:action="@{/crearCliente}" th:object="${cliente}" method="post">
        <label for="nombreLegal">Nombre legal:</label>
        <input type="text" id="nombreLegal" name="nombreLegal" required><br>
        <label for="direccionLegal">Dirección legal:</label>
        <input type="text" id="direccionLegal" name="direccionLegal" required><br>
        <label for="dinero">Capital:</label>
        <input type="number" id="dinero" name="dinero" required><br>
        <label for="email">Email:</label>
        <input type="email" id="email" name="email" required><br>
        <label for="idBanco">Banco:</label>
        <select  name="idBanco" id="idBanco" required>
            <option th:each="banco: ${bancos}" th:if="${session.usuario.rol == 'ADMIN' || session.usuario.banco == banco.idBanco}" th:value="${banco.idBanco}" th:itemid="${banco.idBanco}" th:text="${banco.nombre}"></option>
        </select><br>
        <input type="submit" value="Crear">
    </form>

    <form th:action="@{/listarClientes}">
        <input type="submit" value="Atrás">
    </form>


</body>
</html>