<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />
	<title>Editar cliente</title>
</head>

<body>

	<header th:replace="~{layout/layout :: header}"></header>

	<div class="container py-4">
		<div class="card bg-dark text-white">

			<div class="card-header" style="font-size: xx-large">Editar cliente</div>

			<div class="card-body">

				<form th:action="@{/editarClienteSave}" th:object="${cliente}" method="post">
					<input type="hidden" th:field="*{idCliente}" name="idCliente" id="idCliente">

					<div class="row mb-3">
						<label class="col-sm-2 col-form-label" for="nombreLegal">Nombre legal:</label>
						<div class="col-sm-10">
							<input type="text" th:field="*{nombreLegal}" id="nombreLegal" name="nombreLegal"
								class="form-control" required>
						</div>
					</div>

					<div class="row mb-3">
						<label class="col-sm-2 col-form-label" for="direccionLegal">Dirección legal:</label>
						<div class="col-sm-10">
							<input type="text" th:field="*{direccionLegal}" id="direccionLegal" name="direccionLegal"
								class="form-control" required>
						</div>
					</div>

					<div class="row mb-3">
						<label class="col-sm-2 col-form-label" for="dinero">Capital:</label>
						<div class="col-sm-10">
							<input type="number" th:field="*{dinero}" id="dinero" name="dinero" class="form-control"
								required>
						</div>
					</div>

					<div class="row mb-3">
						<label class="col-sm-2 col-form-label" for="email">Email:</label>
						<div class="col-sm-10">
							<input type="email" th:field="*{email}" id="email" name="email" class="form-control"
								required>
						</div>
					</div>

					<div class="row mb-3">
						<label class="col-sm-2 col-form-label" for="idBanco">Banco:</label>
						<div class="col-sm-10">
							<select name="idBanco" th:field="*{idBanco}" id="idBanco" class="form-control" required>
								<option th:each="banco: ${bancos}"
									th:if="${session.usuario.rol == 'ADMIN' || session.usuario.banco == banco.idBanco}"
									th:value="${banco.idBanco}" th:itemid="${banco.idBanco}" th:text="${banco.nombre}">
								</option>
							</select>
						</div>
					</div>

					<div class="form-group row">
						<div class="col-sm-6">
							<input type="submit" class="btn btn-secondary" value="Editar" />
						</div>
					</div>

				</form>

			</div>
		</div>
	</div>

	<div class="container py-4">
		<a href="/listarClientes" class="btn btn-warning btn-xs">Atrás</a>
	</div>

</body>

</html>