<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />
    <title>Lista clientes</title>
</head>
<body>

<header th:replace="layout/layout :: header"></header>

<form th:action="@{/filtrar}" th:object="${filter}" method="post">
    <div>
        <label>Nombre legal:</label>
        <input type="text" class="form-control" th:field="*{nombreLegal}" />
    </div>
    <div>
        <label>Dirección legal:</label>
        <input type="text" class="form-control" th:field="*{direccionLegal}" />
    </div>
    <div>
        <label>Dinero:</label>
        <input type="text" class="form-control" th:field="*{dinero}" pattern="^\d*(\.\d{1,2})?$" title="Solo se permiten números con hasta 2 decimales" />
    </div>
    <div>
        <label>Email:</label>
        <input type="text" class="form-control" th:field="*{email}" />
    </div>

    <div>
        <label>Banco:</label>
        <select  name="idBanco" id="idBanco">
            <option value="">---</option>
            <option th:each="banco: ${bancos}" th:value="${banco.idBanco}" th:itemid="${banco.idBanco}" th:text="${banco.nombre}"></option>
        </select><br>
    </div>

    <div class="form-group row">
        <div class="col-sm-6">
            <input type="submit" class="btn btn-secondary" value="Filtrar" />
        </div>
    </div>
</form>





<table>
    <thead>
    <tr>
        <td>Nombre legal</td>
        <td>Dirección legal</td>
        <td>Capital</td>
        <td>Email</td>
        <td>Banco</td>
    </tr>
    </thead>
    <tbody>
    <tr th:each="cliente: ${clientes}">
        <td th:text="${cliente.nombreLegal}"></td>
        <td th:text="${cliente.direccionLegal}"></td>
        <td th:text="${cliente.dinero}"></td>
        <td th:text="${cliente.email}"></td>
        <td th:if="${cliente.idBanco == null}"></td>
        <td th:else th:each="banco : ${bancos}" th:if="${banco.idBanco == cliente.idBanco}" th:utext="${banco.nombre}"></td>
        <td><a th:href="@{editarCliente/} + ${cliente.idCliente}" th:text="Editar"></a></td>
        <td><a th:href="@{eliminarCliente/} + ${cliente.idCliente}" th:text="Eliminar"></a></td>

    </tr>
    </tbody>
</table>
<form action="/nuevoCliente">
    <button type="submit">Nuevo cliente</button>
</form>
</body>
</html>