<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />
	<meta charset="UTF-8" />
	<title>Tus Notificaciones</title>
</head>

<body>

	<header th:replace="~{layout/layout :: header}"></header>

	<div class="container py-4">
		<div class="card bg-light">

			<div class="card-header" style="font-size: xx-large">Notificaciones</div>

			<table class="table table-striped table-bordered">
				<thead class="thead-inverse">
					<tr>
						<td>Fecha Notificacion</td>
						<td>Titulo</td>
						<td>Mensaje</td>
						<td>Enlace</td>
					</tr>
				</thead>
				<tr th:each="notificacion : ${notificaciones}">
					<td th:text="${notificacion.fechaNotificacion}"></td>
					<td th:text="${notificacion.titulo}"></td>
					<td th:text="${notificacion.mensaje}"></td>
					<td><a th:href="${notificacion.enlace}" class="btn btn-info btn-xs">Ver</a></td>
					<td><a th:href="@{notificacion/delete/} + ${notificacion.idNotificacion}"
							class="btn btn-danger btn-xs">Borrar</a></td>
				</tr>
			</table>
</body>