<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">

<head>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
    <meta charset="UTF-8"/>
</head>

<body>

<header th:replace="layout/layout :: header"></header>

<div class="container py-4">
    <div class="card bg-dark text-white">

        <div class="card-header" style="font-size: xx-large">Escoger banco</div>

        <form th:action="@{'/deal/' + ${redirectUrl}}" th:object="${deal}" method="post">
            <input type="hidden" th:field="*{idDeal}"/>
            <input type="hidden" th:field="*{estado}"/>
            <input type="hidden" th:field="*{cantidadPrestamo}"/>
            <input type="hidden" th:field="*{cantidadAbonada}"/>
            <input type="hidden" th:field="*{cantidadAPagar}"/>
            <input type="hidden" th:field="*{moneda}"/>
            <input type="hidden" th:field="*{tipo}"/>
            <input type="hidden" th:field="*{descuento}"/>
            <input type="hidden" th:field="*{cliente}"/>
            <input type="hidden" th:field="*{creadoPor}"/>
            <input type="hidden" th:field="*{aprobadoPor}"/>
            <input type="hidden" th:field="*{cerradoPor}"/>

            <div th:if="${deal.tipo == 'SOLE_LENDER'}" class="form-group row">
                <label class="col-sm-2 col-form-label">Banco</label>
                <div class="col-sm-6">
                    <select name="banco" class="form-control">
                        <option th:each="banco: ${bancos}" th:value="${banco.idBanco}" th:text="${banco.nombre}"
                                th:selected="${agente == banco.idBanco}"></option>
                    </select>
                </div>
            </div>

            <div th:if="${deal.tipo == 'SYNDICATED'}"  th:each="banco: ${bancos}" class="form-group row">
                        <div class="col-sm-2">
                            <input type="checkbox" class="form-control" th:id="${banco.idBanco}" name="banco"
                                   th:value="${banco.idBanco}"
                                   th:checked="${#arrays.contains(bancosParticipantesId, banco.idBanco)}"/>
                        </div>
                        <label class="col-sm-2 col-form-label" th:for="${banco.idBanco}" th:text="${banco.nombre}"></label>
                        <div class="col-sm-4">
                            <input class="form-control" th:if="${participantes} == null" type="text"
                                   th:name="${'bancoPorcentaje' + banco.idBanco}"
                                   pattern="0.\d{1,2}$" title="Solo se permiten números entre 0 y 1 (No incluidos)"/>
                        </div>
                    <div class="col-sm-6">
                    </div>


                <div th:unless="${participantes} == null">
                    <div th:if="${#arrays.contains(bancosParticipantesId, banco.idBanco)}">
                        <input class="form-control" th:each="participante: ${participantes}" type="text"
                               th:name="${'bancoPorcentaje' + banco.idBanco}" pattern="0.\d{1,2}$"
                               title="Solo se permiten números entre 0 y 1 (No incluidos)"
                               th:if="${participante.idBanco == banco.idBanco}"
                               th:value="${participante.porcentajeParticipacion}"/>
                    </div>
                    <div th:unless="${#arrays.contains(bancosParticipantesId, banco.idBanco)}">
                        <input type="text" class="form-control" th:name="${'bancoPorcentaje' + banco.idBanco}"
                               pattern="0.\d{1,2}$" title="Solo se permiten números entre 0 y 1 (No incluidos)"/>
                    </div>
                    <br/>
                </div>
            </div>

                    <div th:if="${deal.tipo == 'SYNDICATED'}" class="row mb-3" >
                        <div class="col-sm-1"></div>
                        <label class="col-sm-2 col-form-label">Agente:</label>
                        <div class="col-sm-6">
                            <select name="agente" class="form-control">
                                <option th:each="banco: ${bancos}" th:value="${banco.idBanco}" th:text="${banco.nombre}"
                                        th:selected="${agente == banco.idBanco}"></option>
                            </select>
                        </div>
                    </div>

                    <div class="form-group row">
                        <div class="col-sm-6">
                            <input type="submit" th:value="${buttonText}" class="btn btn-secondary"/>
                        </div>
                    </div>

        </form>

    </div>
</div>

<div class="container py-4">
    <a href="/deal" class="btn btn-warning btn-xs">Volver</a>
</div>

</body>

</html>