<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />
	<meta charset="UTF-8" />
</head>

<body>

	<header th:replace="layout/layout :: header"></header>

	<div class="container py-4">
		<div class="card bg-dark text-white">

			<div class="card-header" style="font-size: xx-large">Crear deal</div>

			<div class="card-body">

				<form th:action="@{/deal/banks}" th:object="${deal}" method="post">
					<input type="hidden" class="form-control" th:field="*{idDeal}" />
					<input type="hidden" class="form-control" th:field="*{estado}" />
					<input type="hidden" class="form-control" th:field="*{cantidadAbonada}" />
					<input type="hidden" class="form-control" th:field="*{cantidadAPagar}" />
					<input type="hidden" class="form-control" th:field="*{creadoPor}" />
					<input type="hidden" class="form-control" th:field="*{aprobadoPor}" />
					<input type="hidden" class="form-control" th:field="*{cerradoPor}" />
					<div class="form-group row">
						<label class="col-sm-2 col-form-label">Cantidad Prestamo</label>
						<div class="col-sm-6">
							<input type="text" th:field="*{cantidadPrestamo}" pattern="^\d*(\.\d{1,2})?$"
								title="Solo se permiten números con hasta 2 decimales" class="form-control" required />
						</div>
					</div>
					<div class="form-group row">
						<label class="col-sm-2 col-form-label">Moneda</label>
						<div class="col-sm-6">
							<select class="form-control" th:field="*{moneda}" required>
								<option value="EUR">Euro</option>
								<option value="USD">Dolar estadounidense</option>
								<option value="JPY">Yen</option>
								<option value="GBP">Libra</option>
							</select>
						</div>
					</div>
					<div class="form-group row">
						<label class="col-sm-2 col-form-label">Tipo</label>
						<div class="col-sm-6">
							<select class="form-control" th:field="*{tipo}" required>
								<option value="SOLE_LENDER">Sole lender</option>
								<option value="SYNDICATED">Syndicated</option>
							</select>
						</div>
					</div>
					<div class="form-group row">
						<label class="col-sm-2 col-form-label">Descuento</label>
						<div class="col-sm-6">
							<select class="form-control" th:field="*{descuento}" required>
								<option value="0">NO</option>
								<option value="1">SI</option>
							</select>
						</div>
					</div>
					<div class="form-group row">
						<label class="col-sm-2 col-form-label">Cliente</label>
						<div class="col-sm-6">
							<select class="form-control" th:field="*{cliente}" required>
								<option th:each="cliente: ${clientes}" th:value="${cliente.idCliente}"
									th:text="${cliente.nombreLegal}"></option>
							</select>
						</div>
					</div>

					<div class="form-group row">
						<div class="col-sm-6">
							<input type="submit" value="Siguiente" class="btn btn-secondary" />
						</div>
					</div>

				</form>

			</div>

		</div>
	</div>

	<a href="/deal" class="btn btn-warning btn-xs"><button>Volver</button></a>
</body>

</html>